<div class="comment-children">
	<% item.children.each do |comment| %>
		<div class="comment" idea_id="<%= comment.idea_id %>" comment_id="<%= comment.id %>">
			<div class="comment-user">
				Posted by <%= comment.user_alias %> (<%= comment.created_at %>)
			</div>
			<div class="comment-body">
				<%= comment.comment %>
			</div>
			<%= render 'comment', :item => comment unless comment.leaf? %>
		</div>
	<% end %>
</div>