<h1>Listing ideas</h1>

<table>
  <tr>
	<th>Category</th>
    <th>Name</th>
    <th>Description</th>
	<th>User</th>
    <th>Yae Votes</th>
    <th>Nay Votes</th>
	<th>Total Votes</th>
	<th>Vote Tally</th>
	<th>Rank</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
	<td><%= idea.category_name %></td>
    <td><%= idea.subject %></td>
    <td><%= idea.description %></td>
	<td><%= idea.user_alias %></td>
	<td><%= idea.yae_votes %></td>
	<td><%= idea.nay_votes %></td>
	<td><%= idea.total_votes %></td>
	<td><%= idea.vote_tally %></td>
	<td><%= idea.rank %></td>
	<% if current_user.alias == "Rob" %>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<% if current_user.alias == "Rob" %>
<br />
<%= link_to 'New Idea', new_idea_path %>
<% end %>