<% content_for :meta do %>
	<meta property="og:title" content="Grassroots Policy: <%= @idea.subject %>" />
	<meta property="og:site_name" content="Grassroots Policy"/>
	<meta property="fb:admins" content="robert.recalde"/>
	<meta property="og:description" content="<%= @idea.description %>"/>
<% end %>

<div id="grass-body">
<div id="tabs">
	<ul>
	<li><a href="#category-<%= @idea.category_id %>"><%= @idea.category_name %></a></li>
	</ul>
	<div id="category-<%= @idea.category_id %>" class="topic">
		<div class="idea ui-corner-all">
			<div class="idea-vote ui-corner-all">
				<div class="vote-count"><%= @idea.vote_tally %></div>
				<div class="vote-yea">Yea</div>
				<div class="vote-nay">Nay</div>
			</div>
			<div class="idea-body">
				<div class="idea-subject">
					<%= @idea.subject %>
				</div>
				<div class="idea-text">
					<%= @idea.description %>
				</div>
				<div class="idea-user">
					Posted by <%= @idea.user_alias %> (<%= @idea.created_at %>)
				</div>
			</div>
			<div class="idea-clear"></div>
		</div>
		
		<div class="idea ui-corner-all">
			<div class="idea-body">
				<div class="idea-subject">
					Votes:
				</div>
				<div class="idea-text">
				<% @votes.each do |vote| %>
					<span class="user-<%= vote.vote %>">
						<%= vote.user_alias %>
					</span> 
				<% end %>
				</div>
			</div>
		</div>
		
		<% if user_signed_in? %>
		<% if current_user.alias == "Rob" %>
		<%= link_to 'Edit', edit_idea_path(@idea) %><br/>
		<% end %>
		<% end %>
		
		<br />
		
		<% @comments.each do |comment| %>
			<div class="comment" idea_id="<%= comment.idea_id %>" comment_id="<%= comment.id %>">
				<div class="comment-user">
					Posted by <%= comment.user_alias %> (<%= comment.created_at %>)
				</div>
				<div class="comment-body">
					<%= comment.comment %>
				</div>
				<%= render 'comment', :item => comment unless comment.leaf? %>
			</div>
		<% end %>
		
		<a id="root_comment" href="#">Comment</a>&nbsp;
		<a id="back_button" href="/">Back</a>
		
	</div>
</div>
</div>

<script>
	
	$(function () { 
		$('#back_button').button();
		$('#root_comment').button();

		
		$('#tabs').tabs();
			
		<% if user_signed_in? %>
		
		$('.vote-yea').live('click', function() {
			vote(<%= @idea.id %>, 'yae', function(data) {
				location.reload(true)
				//$('.vote-count').html(data.vote_tally);
			});
		});
		
		$('.vote-nay').live('click', function(){
			vote(<%= @idea.id %>, 'nay', function(data) {
				location.reload(true);
				//$('.vote-count').html(data.vote_tally);
			});
		});
		
		$('.comment-body').live('click', function() {

			var comment = $(this).parent();
			var comment_id = comment.attr('comment_id');
			var idea_id = comment.attr('idea_id');
			var comment_text = $(this).html();
			new_comment(idea_id, comment_id, comment_text);
			
		});
		
		$('#root_comment').click(function() {
			new_comment(<%= @idea.id %>, null, null);
			return false;
		});
		
		<% else %>
		
		$('.vote-yea').live('click', login_dialog);
		$('.vote-nay').live('click', login_dialog);
		$('.idea-comment').live('click', login_dialog);
		$('#root_comment').live('click', login_dialog);
		
		<% end %>
	});
</script>