<% content_for :meta do %>
	<meta property="og:title" content="Grassroots Policy: <%= @idea.subject %>" />
	<meta property="og:site_name" content="Grassroots Policy"/>
	<meta property="fb:admins" content="robert.recalde"/>
	<meta property="og:description" content="<%= @idea.description %>"/>
<% end %>

<%= render 'shared/idea', :idea => @idea %>

<div class="idea ui-corner-all">
	<div class="idea-body">
		<div class="idea-subject">
			Votes:
		</div>
		<div class="idea-text">
		<% @votes.each do |vote| %>
			<span class="user-<%= vote.vote %>">
				<%= vote.user_alias %>
			</span> 
		<% end %>
		</div>
	</div>
</div>

<%= render 'shared/comments', :comments => @comments unless @comments.empty? %>

<a id="root_comment" href="#">Comment</a>&nbsp;
<a id="back_button" href="/">Back</a>

<script>
	
	$(function () { 
		$('#back_button').button();
		$('#root_comment').button();
		linkify($('#grass-body').first());
		
		$('#tabs').tabs();
			
		<% if user_signed_in? %>
		
		$('.vote-yea').live('click', function() {
			vote(<%= @idea.id %>, 'yae', function(data) {
				location.reload(true)
				//$('.vote-count').html(data.vote_tally);
			});
		});
		
		$('.vote-nay').live('click', function(){
			vote(<%= @idea.id %>, 'nay', function(data) {
				location.reload(true);
				//$('.vote-count').html(data.vote_tally);
			});
		});
		
		$('.reply-link').live('click', function() {
			var comment = $(this).parent();
			var comment_id = comment.attr('comment_id');
			var idea_id = comment.attr('idea_id');
			var comment_text = $(this).html();
			new_comment(idea_id, comment_id, comment_text);
		});
		
		$('#root_comment').click(function() {
			new_comment(<%= @idea.id %>, null, null);
			return false;
		});
		
		<% else %>
		
		$('.vote-yea').live('click', login_dialog);
		$('.vote-nay').live('click', login_dialog);
		$('.idea-comment').live('click', login_dialog);
		$('#root_comment').live('click', login_dialog);
		$('.reply-link').live('click', login_dialog);
		
		<% end %>
	});
</script>