<% comments.each do |comment| %>
	<div class="comment" idea_id="<%= comment.idea_id %>" comment_id="<%= comment.id %>">
		<div class="comment-user">
			Posted by <%= comment.user_alias %> (<%= time_ago_in_words(comment.created_at) %> ago)
		</div>
		<div class="comment-body">
			<%= comment.comment %>
		</div>
		<div class="comment-actions">
			<a href="#" class="reply-link">Reply</a>
			<% if user_signed_in? && current_user.alias == "Rob" %>
			&nbsp;<a href="#" class="delete-comment">Delete</a>
			<% end %>
		</div>
		<% if !comment.leaf? %>
		<div class="comment-children">
			<%= render 'shared/comments', :comments => comment.children %>
		</div>
		<% end %>
	</div>
<% end %>
