<!DOCTYPE html>
<html>
<head>
	<title><%= render_page_title %></title>
	
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
	<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/smoothness/jquery-ui.css" />  
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.js"></script>  
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.js"></script>  
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

	<%= (content = yield :meta) ? content : render('shared/meta') %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26189389-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
	<div id="grass-header" class="ui-corner-all">  
		<a id="grass-header-text" href="/">
			Grassroots Policy
		</a>
		<span id="grass-header-menu">
			<a href="/about">About</a>&nbsp;|&nbsp;
			<% if user_signed_in? %>
				<%= link_to('Edit registration', edit_user_registration_path) %>&nbsp;|&nbsp;
				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			<% else %>
				<%= link_to('Login', new_user_session_path)  %>&nbsp;|&nbsp; 
 				<%= link_to('Register', new_user_registration_path)  %>
			<% end %>
		</span>
	</div>

	<% if @excludeBody %>
		<%= yield %>
	<% else %>
		<div id="grass-body" class="grass-body ui-corner-all ui-widget ui-widget-content">
			<%= yield %>
		</div>
	<% end %>
	
</body>
</html>