<!DOCTYPE html>
<html>
<head>
  <title>Grassroots Policy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/smoothness/jquery-ui.css" />  
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.js"></script>  
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.js"></script>  
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

  <meta property="og:title" content="Grassroots Policy" />
  <!--<meta property="og:image" content="http://ia.media-imdb.com/rock.jpg"/>-->
  <meta property="og:site_name" content="Grassroots Policy"/>
  <meta property="fb:admins" content="robert.recalde"/>
  <meta property="og:description" content="Add your voice to our democracy."/>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26189389-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
	<div id="grass-header" class="ui-corner-all">  
		<span id="grass-header-text">
			Grassroots Policy
		</span>
		<span id="grass-header-menu">
			<% if user_signed_in? %>
				<a href="/ideas/">My Ideas</a>&nbsp;|&nbsp;
				<a href="/categories/">My Issues</a>&nbsp;|&nbsp;
				<%= link_to('Edit registration', edit_user_registration_path) %>&nbsp;|&nbsp;
				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			<% else %>
				<%= link_to('Login', new_user_session_path)  %>&nbsp;|&nbsp; 
 				<%= link_to('Register', new_user_registration_path)  %>
			<% end %>
		</span>
	</div>
	
	<div id="grass-body" class="grass-body ui-corner-all">
		<%= yield %>
	</div>
	
	<script>
		$(function () { 
			$('#grass-header-text').click(function() {
				window.location.href = "/";
			});
		});
	</script>
</body>
</html>