<!DOCTYPE html>
<html>
<head>
  <title>Grassroots</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/smoothness/jquery-ui.css" />  
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.js"></script>  
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.js"></script>  
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
</head>
<body>
	<div id="grass-header" class="ui-corner-all">  
		<div id="grass-header-text">
			Grassroots Policy
		</div>
		<div id="grass-header-menu">
			<a href="/ideas/">My Ideas</a>&nbsp;|&nbsp;
			<a href="/categories/">My Issues</a>&nbsp;|&nbsp;

			<% if user_signed_in? %>
				<%= link_to('Edit registration', edit_user_registration_path) %>&nbsp;|&nbsp;
				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			<% else %>
				<%= link_to('Login', new_user_session_path)  %>&nbsp;|&nbsp; 
 				<%= link_to('Register', new_user_registration_path)  %>
			<% end %>
			
		</div>
	</div>
	
	<%= yield %>

</body>
</html>
